<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">

</script>
<form class="login" action="/users" method="post">
	<b>User</b> : shubham
	<b>Password</b> : s<br>
	User:<input id="user" name="user"></input>
	Password:<input id="password" name="password" type="password"></input>
	<button type="submit" id="submit" value="Save">Save</button>
</form>
